* {
	margin: 0;
	padding:0;
	font-family: 'Roboto Mono', 'sans-serif' ;
}

body {
padding-top: 56px;
background: #fff;
}

.logok {
	border-radius: 50%;
	margin-top: 20px;
	}


.titulo {
	color: #843ddb;
	font-size: 80px;
	font-weight: 600;
	margin-top: 25px;
	text-align: center;
	
	
}


/*----GENERADOR DE CONTRASEÑAS-----*/
/*----GENERADOR DE CONTRASEÑAS-----*/
/*----GENERADOR DE CONTRASEÑAS-----*/

.passgen {
	background: #79f2aa;
	color: #000;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 50px;
	border-bottom:#51ed9a solid 5px;
}

*::selection {
	background: #33257e;
	color: #000;

}
*::-moz-selection {
	background: #33257e;
	color: #000;
	
}


.title {
	margin-bottom: 40px;
	width: 100%;
	text-align: center;
}

.title h2 {
	width: 100%;
	vertical-align: top;
	font-size: 35px;
}

.app .fila {
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.app .col {
	width: 50%;	
}

.app label {
	line-height: 40px;
}

.app input {
	text-align: center;
	border: none;
}

.app .btn {
	width: 100%;
	background: #59c277;
	color: #000;
	display: inline-block;
	height: 40px;
	vertical-align: top;
	font-size: 16px;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all .3s ease;
}

.app .btn:hover {
	background: #b4a5ff;
}

.app .btn.false {
	background: #33257e;
}

.app .numero-caracteres .botones div {
	width: 100%;
}

.app .numero-caracteres .botones div:nth.child(1) button {
   border-radius: 4px 0 0 4px;
}

.app .numero-caracteres input {
	height: 40px;
	width: 100%;
	cursor: default;
	background: #0a8a2f;
	color: #000;
}

.app .numero-caracteres .botones div:nth.child(3) button {
   border-radius: 0 4px 4px 0;
}

.app .numero-caracteres .botones {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



.app .fila.generar {
	margin-bottom: 10px;
}

.app .fila.generar .col:nth-child(1) {
	width: 30%;
}

.app .fila.generar .col:nth-child(2) {
	width: 65%;
}

.app .fila.generar .btn.btn-generar {
	width: 100%;
	height: 40px;
	font-size: 18px;
	padding: 0;
	line-height: 40px;
	position: relative;
}

.app .fila.generar .btn.btn-generar i {
	margin-left: 20px;
	position: relative;
	top: -1px;
	font-size: 14px;
}

.app .fila.generar .btn.btn-generar:after {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	position: absolute;
	top: 13px;
	right: -7px;
	background: #59c277;
	transition: all .3s ease;
}

.app .fila.generar .col:nth-child(1):hover .btn.btn-generar:after {
	background: #b4a5ff;
}

.app .fila.generar .input-password {
	width: 100%;
	background: none;
	border-radius: 4px;
	border: 1px solid rgba(255,255,255,.25);
	color: #000;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	transition: all .3s ease;

}

.app .fila.generar .input-password:hover {
	border: solid rgba(255,255,255,.50);
}

.app .fila.generar input::selection {
	background: #59c277;
}

.app .fila.generar input::-moz-selection {
	background: #59c277;
}



/*----FORMULARIO CONSULTAS----*/
/*----FORMULARIO CONSULTAS----*/
/*----FORMULARIO CONSULTAS----*/

.contacto {
	width: 100%;
	height: auto;
	background: #77e69e;
	color: #000;
	margin-top: 20px;
	border: #f2f2 5px solid;
	border-radius: 30px;
}

/*------CODIGOS------*/
/*------CODIGOS------*/
/*------CODIGOS------*/

.codigo {
	margin: 20px;
}

/*-------CALCULADORA-------*/
/*-------CALCULADORA-------*/
/*-------CALCULADORA-------*/




  #calcu {
  width: 450px;
  height: 270px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #77e69e;
  padding: 10px 10px 260px 10px;
  border-radius: 15px;
  border-bottom: 5px solid #48db7c;

}

.result {
  width: 305px;
  height: 40px;
  float: left;
  line-height: 40px;
  background-color: #fff;
  color: #000;
  margin: 5px;
}

.result > p {
  margin-left: 10px;
}

.clear, span {
  height: 40px;
  border-bottom: 3px solid grey;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: #ecf0f1;
  color: #2c3e50;
  margin: 5px;
} 

.clear {
  width: 95px;
  float: left;
  background-color: #c0392b;
  color: #fff;
    border-color: #A63125;
}



span {
  float: left;
  width: 95px;
}
span:hover{
    
	background-color:#00BFFF;
}
 

 /*-----MODO NOCTURNO------*/
 /*-----MODO NOCTURNO------*/
 /*-----MODO NOCTURNO------*/

 /*.fa-adjust {
 	font-size: 40px;
 	border: none;
 	padding: 3px;
 	box-sizing: border-box;
 	cursor: pointer;


 }
*/
//* button {
 	border-radius: 50%;
 }
*/

.btn {
    background: #FC6681;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.switch {
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    height: 30px;
    width: 60px;

}

.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}
.switch.active{
    background: #ffd803;
    color: #000;
    outline: none;
}


.active::after {
    right:0;
    left: unset;
}



.noc {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    margin: 0;


}
.noc:hover {
    background: none;


}

 .dark {
 	background: #1e1f1e;
	
 }




.card {
	background: #f2f2f2;
}

.card img {
	background: #f2f2f2;
}
.booton {

	background: #6e00ff;
	color: #ffffff;
}
.booton:hover {
	background: #39106e;
}

.h2dark {
	color:#fff;
}

/*-------FORMULARIO-----*/
/*-------FORMULARIO-----*/
/*-------FORMULARIO-----*/

.formulario {
	margin-top: 15px;

}

.formulario .contenedor-inputs{
	padding: 20px;
	background: #40f5a3;
	border-radius:6px 6px 0 0;
}

.formulario input[type="text"],
.formulario input[type="email"] {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 10px;
	border:none;
	border-bottom: 2px solid #ccc;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus {
	border-bottom: 2px solid #246eb9;
}

.formulario input[type="radio"]{
	display: none;
}

.formulario .sexo {
	display: flex;
	flex-wrap: no-wrap;
	justify-content:space-between;
	margin-bottom: 20px;
}

.formulario .sexo .label-radio {
	width: 49.5%;
}

.formulario .sexo .hombre {
	border-radius: 3px 0 0 3px;
}

.formulario .sexo .mujer {
	border-radius: 0 3px 3px 0;
}

.formulario .label-radio{
	background: rgba(16, 181, 106);
	color: #fff;
	padding:10px 10px;
	text-align: center;
}

.formulario input[type="radio"]:checked + .label-radio{
	background: #0a804a;
	color: #fff;
}

.consultas textarea {
	width: 100%;
}

.formulario .robot {
	/*margin-bottom: 20px;*/
	text-align: center;
	color: #424242;
}

.formulario .robot label {
	margin-left: 10px;
}

.formulario .error {
	display: none;
	margin-top: 20px;
	border-radius: 3px;
	background: #ce1818;
	color: #fff;
	padding: 15px 10px;
	padding-left: 40px;
}

.formulario .btn {
	width: 100%;
	text-align: center;
	background: #0a804a;
	color: #fff;
	border: none;
	display: block;
	padding: 15px 10px;
	cursor: pointer;
	border-radius: 0 0 6px 6px;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}

.formulario .btn:hover {
	background: rgba(16, 181, 106);
}



.footer {
	width: 100vw;
	height: auto;
	background: #8046f2;
	color: #ffffff;
	margin-top: 20px;
	font-family: 'Roboto Mono', ;
	font-size: 20px;
}

i {
	color:#fff;
	text-decoration: none;
	transition: transform .3s;
	-moz-transition: transform .3s;
	-o-transition: transform .3s;
	-webkit-transition: transform .3s;
	-ms-transition: transform .3s;

}

i:hover {
transform: scale(1.5);
-moz-transform: scale(1.5);
-o-transform: scale(1.5);
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);

}

